.contact-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    margin : 0 0 50px 0;
}

.contact h1 {
    display: block;
}

.brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    color: #bf1628;
    margin-top: 80px;
    margin-bottom: 70px;
}

.contact-partie-2 {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.label input, .label textarea, select {
    background-color: #ebe0d3;
    height: 30px;
    border: 0.5px solid black;
    margin-top: 5px;
}

.label-callback {
    margin-top: -15px;
}

.label textarea {
    height: 70px;
}

.submit {
    border: none;
    background-color: black;
    color: #ebe0d3;
    padding: 10px 20px;
    width: 100px;
    margin-top: 25px;
}

h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
    width: 70%;
}

.contact a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .contact h1 {
        display: block;
    }

    .contact-partie-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h2 {
        width: 95%;
    }

    .form {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 767px) {

    .header {
        display: none;
    }

    .contact {
        margin-top: 0;
    }

    .contact h1 {
        display: block;
    }

    .brand-name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 40px;
        color: #bf1628;
        margin-top: 50px;
    }

    .contact h2 {
        width: 90%;
        font-size: 15px;
    }

    .contact-partie-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form {
        width: 100%;
        align-items: center;
    }

    .label, select {
        width: 80%;
    }

    .map-google {
        margin-top: 40px;
        width: 100%;
    }

    .label, select {
        color: black;
        border-radius: 0;
    }

    .button {
        border-radius: 0;
        padding: 5px 10px;
    }

}