.escapades {
    margin: 0 300px;
    font-family: 'Bodoni Moda', serif;
    text-align: justify;
}


@media screen and (max-width: 767px) {

    .escapades {
        margin: 50px 50px 100px 50px;
        font-family: 'Bodoni Moda', serif;
    }

}