.header {
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    padding-top: 10px;
}

.brand-name {
    display: flex;
    justify-content: left;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 55px;
    color: #bf1628;
    margin: 0 0 0 20px;
}

.header a {
    text-decoration: none;
}

.escapades-menu a {
    font-size: 30px !important;
    font-family: 'Great Vibes', cursive;
    color: #c45c50 !important;
}

.menu-header a {
    text-decoration: none;
    color: #222222;
}

@media screen and (max-width: 767px) {

    .menu-header li {
        font-size: 13px;
    }

    .escapades-menu a {
        font-size: 18px !important;
    }

}