.header {
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    padding-top: 10px;
}

.escapades-menu a {
    font-size: 30px !important;
    font-family: 'Great Vibes', cursive;
    color: #c45c50 !important;
}

.menu-header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

.menu-header li {
    font-size: 20px;
}

.menu-header a {
    text-decoration: none;
    color: #222222;
}

@media screen and (max-width: 767px) {

    .menu-header li {
        font-size: 13px;
    }

    .escapades-menu a {
        font-size: 18px !important;
    }

}