.page-article {
    background-color: #ebe0d3;
}

.article {
    padding: 50px 0 50px 0;
    background-color: #ebe0d3;
    display: flex;
    justify-content: center;
}

.article-container {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.big-text-high {
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 90px;
    color: #bf1628;
    font-family: 'BlackGold';
}
  
.big-text-middle {
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%);
    font-size: 50px;
    color: #bf1628; 
    font-family: 'BlackGold';
}
  
.big-text-down {
    position: absolute;
    bottom: 0; 
    left: 0;
    font-size: 90px;
    color: #bf1628;
    font-family: 'BlackGold';
}

.introduction-text {
    position: absolute;
    color: #ebe0d3;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 20%;
}

.sub-intro {
    display: flex;
    margin: 20px 0 0 60px;
}

.intro-1 {
    font-weight: bold;
    text-align: left;
}

.intro-2, .intro-3 {
    width: 200px;
    margin-right: 20px;
}

.background-image-article-small img {
    width: 100%
}

@media screen and (max-width: 767px) {

    .big-text-high, .big-text-down {
        font-size: 70px;
    }

    .big-text-middle {
        font-size: 30px;
    }

}