.HA {
    margin: 0 300px;
    font-family: 'Bodoni Moda', serif;
    text-align: justify;
}

.celebrities-link {
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: black;
}

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {

    .HA {
        margin: 100px 200px 200px 200px;
    }

    .introduction {
        width: 100%;
    }

  }

  @media screen and (max-width: 767px) {

    .HA {
        margin: 50px 50px 100px 50px;
    }

    .HA p {
        width: 100%;
    }

  }